.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
  display: flex;
  flex-direction: row;
}

.green {
  color: green;
  display: flex;
  flex-direction: row;
}

.counter-img {
  height: 100px;
}
