.btn {
  justify-content: center;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  width: 10%;
  font-weight: 500;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
}

.btn-img {
  width: 100px;
  height: 100px;
}
